{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'website/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Meditate.</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">
        <script src="{% static 'website/meditate.js' %}"></script>
    </head>
    <body style = "background-color: #f1e5f5; text-align: center;">
        <div>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a href="{% url 'website:homepage' %}" class="navbar-brand">
                    <img src="{% static 'website/pictures/logoPH.png' %}" height="30" alt="REACH logo">
                    REACH                
                </a>
               
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="justify-content-end collapse navbar-collapse" id="navbarCollapse" style="font-size: min(5vh, 20px); font-family: 'Lekton', sans-serif;">
                    <div class="navbar-nav">
                        <a href="{% url 'website:homepage' %}" class="nav-item active nav-link">Home</a>
                        <a href="{% url 'website:moodlogs' %}" class="nav-item nav-link">Mood</a>
                        <a href="{% url 'website:resources' %}" class="nav-item nav-link">Resources</a>
                        <a href="{% url 'website:aboutus' %}" class="nav-item nav-link">About Us</a>
                        <a href="{% url 'users:logout' %}" class="nav-item nav-link">Log Out</a>
                    </div>
                </div>
            </nav>
        </div>
        <div id = "top" class="alert alert-info" role="alert" style="font-family: 'Lekton', sans-serif;">
            Meditation is the act of clearing your mind. &#x2728;
        </div>
        <h1 class = "edgy" style = "font-size: 45px;">Meditate.</h1>
        <p id="remove1" class = "tomove padder" style = "font-size: 15px;"><i>"There are many good reasons why a person might choose to meditate—the classic reason being to reduce psychological suffering. Paradoxically, this is accomplished not by trying to avoid or improve one’s experience, but by clearly observing how thoughts and emotions arise, proliferate, and become enshrined in behavior. Seeing the whole apparatus at work can be incredibly freeing."</i> - Samuel Harris.</p>
        <div id="picture" class="tomove">
            <img src="{% static 'website/pictures/meditation.png' %}" alt="Pic" width="350">
        </div>
        <div id="remove2" class="tomove" style="font-family: 'Lekton', sans-serif; font-size: 20px;"><p class = "padder">Meditation is a powerful tool for <b>clearing the mind</b> and living an <b>examined life</b>. This page of Reach is dedicated for providing a tool for doing just that. Below is a timer you can use to specify and start a meditation session - how long is entirely up to you. Features that are coming soon include:</p>
        <ul class="ul">
            <li>Track your meditation progress &#x1F389;</li>
            <li>Visually see your meditation history plotted graphically &#x1F4C8;</li>
            <li>See your streaks &#x1F525;</li>
        </ul>
        <!-- <button class="hide" id="tester">Hey.</button> -->
        <p></p>
        <p>If you're ready to get started, enter below the amount of time you'd like to meditate for in <b>minutes</b>.</p>
        <form id="form1" onsubmit="return false">
            <input id="time" placeholder="How many minutes?" type="text">
            <input id="submit" value="Let's go!" type="submit">
        </form></div>
        <p></p>
        <button id="button" style = "display: none;">Click me!</button>
        <div id="timedisplay"></div>
        <p></p>
        <div id="timerobject" style = "display: none;">&#x23F3; Happy meditating! Time remaining: <span id="timer"></span> &#x23F3;</div>
        <p></p>
        <div id = "finished" style = "display: none; font-family: 'Lekton', sans-serif; font-size: 35px;">Excellent work today! See you next time! &#x1F438; </div>
    </body>
</html>

<!-- // onclick="startTimer(400, '#time')" -->
<!-- // <span id ="emoji" style = "display: none;">&#x1F389;</span> -->