nav{
    font-size: min(5vh, 20px);
}

.test1
{
    margin: 0px auto;
}

table
{
    border: 2px solid black;
    border-collapse: collapse;
}

td
{
    border: 1px solid black;
    padding: 5px;
}

.piccy
{
    display: none;
}

.bottom-three {
    margin-bottom: 2cm;
 }

.edgy {
    font-family: Courier;
    font-size: 25px;
}

.edgy1 {
    font-family: Courier;
    font-size: 15px;
}

.input[type=text] {
    width: 70%;
    padding: 50px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.ul {
    text-align: left;
    padding-left: 25%;
    list-style-position: inside;
}

.padder {
    padding-left: 5%;
    padding-right: 5%;
}

.llabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 41%;
    text-align: right;
}
.iinput {
  display: inline-block;
  float: left;
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        /* line-height: 100%;
        padding: 20px;
        margin-bottom: 10px; */
    }

    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }

    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.tomove {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}